@import "../../sass/styles.scss";

.massage-therapy-view {
  .massage-therapy-view__portrait {
    @include stack;
    @include round-border;
  }
  .massage-therapy-view__card {
    @include v-mar($gap-xxl);
    @include stack;
    @include round-border;
    align-self: center;
    max-width: 500px;
    width: 100%;
    height: auto;
  }
  .massage-therapy-view__motto {
    @include stack;
    @include text-gradient(var(--secondary2), var(--secondary));
    font-size: $txt-lg;
    width: 100%;
    justify-content: center;
    letter-spacing: $gap-sm;
    text-transform: lowercase;
  }
}
