@import "../../sass/styles.scss";

.massage-therapy-view {
  .massage-therapy-view__portrait {
    @include stack;
    @include round-border;
  }
  .massage-therapy-view__motto {
    @include stack;
    @include text-gradient;
    font-size: $txt-lg;
    width: 100%;
    justify-content: center;
  }
}
